<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="footer-grid">
				<h3>just4Me</h3>
				<p>Trang blog chia sẻ tâm sự của bạn về cuộc sống, tình yêu đôi lứa và hôn nhân gia đình</p>
			</div>
			<div class="footer-grid">
				<h3>Thể loại</h3>
				<% the_loais = TheLoai.all %>
				<ul>
				<% the_loais.each do |the_loai| %>
					<li><a href=""><%= the_loai.ten_the_loai %></a></li>
				<% end %>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
	<div class="footer-bottom">
	<div class="container">
		<p>just4Me | TV Team</p>
	</div>
	</div>
<!-- //footer -->