<div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
<div class="nav-canvas">
    <div class="nav-sm nav nav-stacked">

    </div>
    <ul class="nav nav-pills nav-stacked main-menu">
        <li class="nav-header">Menu</li>
        <li>
            <a class="ajax-link" href="."><i class=" glyphicon glyphicon-edit"></i><span> Quản lý bài viết</span></a>
        <li>
            <a class="ajax-link" href="."><i class="glyphicon glyphicon-lock"></i><span> Quản lý tài khoản</span></a>
        </li>
    </ul>
</div>
</div>
<script>
    var $sidebarNav = $('.sidebar-nav');

    // Hide responsive navbar on clicking outside
    $(document).mouseup(function (e) {
        if (!$sidebarNav.is(e.target) // if the target of the click isn't the container...
                && $sidebarNav.has(e.target).length === 0
                && !$('.navbar-toggle').is(e.target)
                && $('.navbar-toggle').has(e.target).length === 0
                && $sidebarNav.hasClass('active')
        )// ... nor a descendant of the container
        {
            e.stopPropagation();
            $('.navbar-toggle').click();
        }
    });

    $('.accordion > a').click(function (e) {
        e.preventDefault();
        var $ul = $(this).siblings('ul');
        var $li = $(this).parent();
        if ($ul.is(':visible')) $li.removeClass('active');
        else                    $li.addClass('active');
        $ul.slideToggle();
    });

    $('.accordion li.active:first').parents('ul').slideDown();
</script>
        </div>