dhtml {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

a:focus{
    color: #0e76bc;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    table.dataTable.nowrap td {
        white-space: normal;
    }
}